// Reset page
* { box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin : 0;
    padding: 0;
  }

html { color:#2c3e50; 
       font-family: 'Avenir', Helvetica, Arial, sans-serif;
     }

// Delete text decoration link
a {text-decoration: none;}  