.banner { background-image: url(../../assets/images/bank-tree.webp); 
    background-position: 0% 33%;
    background-repeat: no-repeat;
    background-size: cover;  
    height: 25rem;
    position: relative; 

    @media (max-width: 920px) { 
      background-position: 0 -3.125rem;
      height: 300px;
    }
    .introduction { background: white;
                    margin: 2rem;  
                    padding: 2rem; 
                    position: absolute;
                      top: 3.125rem;
                      right: 3.125rem;
                    text-align: left;
                    width: 22.75rem;
                    @media (max-width: 920px) { 
                      position: relative;
                      top: 2rem;   
                      right: 0;            
                      margin: 0 auto;
                      width: 16.25rem;
                      margin-right: 1rem;
                  } 
                    
                    .subtitle { font-size: 1.5rem;
                                font-weight: bold; 
                                @media (max-width: 920px) {font-size: 1rem;}
                              }
                    .text { font-size: 1.2rem;
                            margin-top: 19px;
                            @media (max-width: 920px) {font-size: 0.9rem;}
                          }              
                  }
  }