.sign-in-content { background-color: white;
    display: flex; 
    flex-direction: column;
    gap: 1.25rem;
    margin: 0 auto; 
    padding: 2rem;
    width: 18.75rem; 
    i {font-size: 1.1rem;}
    form {
           .input-wrapper { display: flex;
                            flex-direction: column;
                            margin-bottom: 1rem;
                            text-align: left; 
                            label { font-weight: bold;}
                            input { font-size: 1.2rem;
                                    padding: 0.3125rem; 
                                  }
                          }
           .input-remember { display: flex;
                             label { margin-left: 0.25rem;}
                           } 
           .sign-in-button { background-color: #00bc77;
                             border-color: #00bc77;
                             border: none;
                             color: #fff;
                             cursor: pointer;
                             display: block;
                             font-size: 1.1rem;
                             font-weight: bold;
                             margin-top: 1rem;
                             padding: 0.5rem;
                             width: 100%;
                           }               
         }
  }