.feature-item { align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-width: 32rem;
    padding: 2.5rem;
    &-icon { border: 0.625rem solid #00bc77;
             border-radius: 50%;
             padding: 1rem;
             width: 9.375rem;
           }
    &-title { color: #222;   
              font-size: 1.25rem;
              font-weight: bold;
              margin-bottom: 0.5rem;
            }
  }